[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
prettyconf = "*"
python-telegram-bot = "*"
crayons = "*"
docopt = "*"
python-slugify = "*"

[dev-packages]
flake8 = "*"
rope = "*"
yapf = "*"
fabric3 = "*"
pytest = "*"

[requires]
python_version = "3.7"
